body {
    background-color: #0A0C1C;
    font-family: Inter;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    background-color: #1B1937;
    border-radius: 10px;
    height: 446px;
    width: 1110px;
}

.left {
    margin: 71px 0 0 72px;
}

h1 {
    height: 88px;
    width: 403px;
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

p {
    height: 75px;
    width: 374px;
}